body { 
  background: #FFEFD5; 
  font-family: 'Lato', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0; 
  text-align:center; 
}

#main-aside-wrapper{
	display: flex;
	flex-direction:column;}
	
#main-aside-wrapper main, #main-aside-wrapper aside{
background-color: #546960;
margin:10px;
padding:15px;
color : white;
}
#main-aside-wrapper aside{
	flex:1;
	order:1;
	}
	
#main-aside-wrapper main{
	flex:3;
	order:2;
	}
	
 @media screen and (min-width:800px){
	#main-aside-wrapper{
		flex-direction:row;
 }
 }

.menu{
 list-style: none;
 position: absolute;
 top: 10px;
 right: 100px;
}
.Imm{
  margin: auto;
  max-width: 90%;
  //border-radius: 10px;
}


nav {
  background-color:#5C7268;
  margin: 20px;
  border-radius: 2px;
  max-width: 100%;
}

nav a {
  color: #aaa;
  display: inline-block;
  font-size: 17px;
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  color:#F0F8FF;
}

table {
  border-spacing: 0;
  empty-cells: hide;
  font-family: 'Times New Roman', Times, serif;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #546960;
  border-radius:5px;
}


td {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid black;
  transition: all 0.5s linear;
   color:#546960;
}

td:first-child {
  text-align: left;
  color: #546960;
  font-weight: bold;
}
th {
    padding: 10px 20px;
    color:#546960;
    border-bottom: 1px solid #546960;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr:nth-child(even) {
    background:#FFDAB9;
}

tr:nth-child(odd) {
    background:#FFEBCD;
}

table .odd {
  background-color: rgb(255,100,255);
}
.form {
  font-size: 25px;
  margin: 30px auto;
}

form label {
  margin: 30px auto;
}
input {
  font-size: 30px;
  margin: 10px auto;
}
input[type="submit"] {
  width: 300px;
  height: 60px;
  font-size: 25px;
}
input[type="submit"]:hover {
  background-color:#FFDAB9;
  border: 1px #FFDAB9;
}
.header,.list, .table-3,.form {
margin-top: 20px;
padding: 10px;
width: 960px;
margin-left: auto;
margin-right: auto;
background-color: #F5F5F5;
border-radius: 10px;
}

footer { 
  text-align: center;
      border-top: 7px solid #30493C;
      padding-top: 5px;
      margin-top: 50px;
      padding-bottom: 10px;
      background-color: #546960;
      color:#30493C;
  } 

li {
  list-style-type: none;
}


@media only screen 
and (min-width : 550px) 
 {

#logo  {
    margin-top: 0px;
    max-width: 100px;
    max-height:100px;
	height:0px;
	flex: 2;
   order: 1;
  float:left;
    }
 #pan1{
    margin: 0;
    text-align: center;
    flex-direction: column;
  }
#pan2{
    flex-direction: column;
}
#Imm{
    width: 100%;
    max-width: 350px;
}

.forma{
    margin: auto;
    width: 100%;
    max-width: 500px;
    order: 2;
    margin-bottom: 2%;
}
table{
    order:1;
}
main{
    padding: auto;
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    max-width: 1200px;
    height: 50%;
}
#Linkstyle{
    display: flex;
}
.navi{
    text-align: center;
    background-color:  #5C7268;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#navbar a {
    display: inline-block;
}
table {
    width: 500px;
    height: 300px;
    border-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
}
th{
    font-weight: bold;
}
td {
    padding: auto;
    text-align: center;
    border: 1px solid #546960;
}
	
}

 nav a {
     display: inline-block;
}

  
/*....Desktops*/
@media only screen 
and (min-width : 1224px) {
	

.logo  {
     padding: 0px;
	 margin: 0px;
	 width: 100px;
	 height:0px;
	float:left;
}

.navi {
	text-align: center;
	background-color: #5C7268;
	margin: 30px;
	
}

nav  a { 
	font-weight: bold;
	color: #white;
	margin: 20px;
	font-size: 18px;
	text-decoration: none;
 }
 
 header{
   height: auto;
   padding: 0px;
   
 }
}
